html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}


:root {
    --primary-text-color: #2E2F42;
    --title-text-color: #434455;
    --accent-color:#4D5AE5;
    --primary-bg-color: #fff;

}
body {
    
    background-color:#fff;
    color: var(--primary-text-color);

    font-family:'Roboto', sans-serif;
    letter-spacing: 0.02em;
    
}

.list { 
   padding: 0;
    margin: 0;
    list-style: none;

}
.conteiner {
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
    padding-left: 20px;
    padding-right: 20px;
}
.line {
    display: flex;
 
}

/*Studio*/
 /*Logo*/

.logo {

   margin-right: 77px;
padding-top: 24px;
    padding-bottom: 24px;

    color: var(--primary-text-color);
    font-family: 'Raleway';
font-size: 18px;
font-weight: 800;
line-height: 1.33;
text-transform: uppercase;
 text-decoration: none; 
 

}
.logo .texte {
color: var(--accent-color);

}

/*Sait Nav*/
 .sait-nav {
   color:var(--primary-text-color);
 font-family: 'Raleway';   
font-weight: 600;
font-size: 16px;
line-height: 1.2;
display: flex;
text-decoration: none;



 }

.sait-nav .link:hover,
.sait-nav .link:focus{
 color:#4D5AE5;

}

.site-nav .link.current {
   color: #404BBF
}
.site-nav, .li {
        padding-top: 24px;
    padding-bottom: 24px;

 
}
.site-nav, .li:not(:last-child) {
    margin-right: 40px;
}

/*Contakt*/
.contact { 
    color: #434455;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
    text-decoration: none;
display: flex;

}


.contact:hover {
    color: var(--accent-color);
    
}
.contact:focus {
    color: #4D5AE5;
      
}


/*Hero*/

.hero {

    max-width: 1440px;
    margin-bottom: 120px;
    text-align: center;
    background: #2E2F42;
    margin-left: auto;
    margin-right: auto;
}
.hero-title {
   padding-top: 198px;
   padding-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    

font-weight: 800;
font-size: 56px;
line-height: 1.07;

width: 492px;
height: 120px;
left: 474px;
top: 264px;

}

/*button*/
 
.button {
    border-radius: 4px;
    padding: 16px 32px;
 
    margin-top: 48px;
    margin-bottom: 192px;

    color: #ffffff;
    background: #4D5AE5;
    font-family: inherit;

 cursor: pointer;

   align-items: center;
    padding: 12px 24px;
    border-radius: 4px;
    text-align: center;

text-decoration: none;
}
.button:hover {
background: #404BBF;
}

.button:focus {
color: #ffffff;
    background: #4D5AE5;
    
}
 
.pro {
    
    background-color: #4D5AE5;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #E7E9FC;

}

.button:hover {
background: #404BBF;
}

.button:focus {
color: #ffffff;
    background: #4D5AE5;
    
}

.button.primary {
    color: var(--accent-color);
    background-color: #F4F4FD;

    align-items: center;
    padding: 12px 24px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #E7E9FC;

}

.button.primary:focus{
    background-color: var(--accent-color);
    color: #fff;
}

.button.primary:hover {
    color: #fff;
background-color: var(--accent-color)
}
.left {
    margin-left: 320px;
 
}


 /*section list*/

 .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
 }

 .title {
    font-weight: 600;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
 }
 .text {
        font-weight: 400;
font-size: 16px;
line-height: 1.2;
text-align: center;

padding-bottom: 32px;
color: #434455;

    margin: 0;
    margin-bottom: 8;


color: #434455;

 }
 .paragraf {
    font-weight: 400;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;

 }
 .for:not(:last-child) {
    margin-right: 24px;
}
 
/*section work*/
.work {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 72px;


    font-weight: 600;
font-size: 36px;
line-height: 1.11;

text-align: center;
text-transform: capitalize;

color: #2E2F42;
}
/*section our*/
.our {
       margin-left: auto;
    margin-right: auto; 
    background-color: #F4F4FD;
    padding-bottom: 120px;
    
}


/*footer*/
.footer {
  
    background-color: #2E2F42;
    color: #fff;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
   
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}
.footer, .tect {
    color: #fff;

}
.p {

    margin-left: 156px;
    margin-right: 1020px;
    padding-bottom: 100px;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;



}
.logotip { 
    display: flex;
    padding-top: 100px;
    padding-bottom: 16px;

    margin-left: 156px;
    margin-right: 1240px;
   
}
.pictures {

    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;

}
/*foto*/

.foto { 

margin: 0;
padding: 0;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-decoration: none;



}
.right {

    display: flex;
    padding-top: 72px;
}

